body {
    text-shadow:0 1px 1px #fff;
}

a {
    color: #226ba2;
}

.bar-header {
    background: #0e0a1a url(/img/header.png) 50% 50% no-repeat;
    border-bottom: 1px solid #291c47;
    box-shadow:0 0 3px rgba(0, 0, 0, 0.5);
    h1 {
        color: #fff;
        text-shadow:0 -1px 1px #0e0a1a;
    }
}

.bar-footer {
    background: #e1e9f4;
    border-top: 1px solid #fff;
}

.pane {
    background: #efefef;
}

.card {
    background:#fefefe;
    padding:0;
    margin:1em;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);

    .head {
        background:#ddd;
        border-bottom: 1px solid #ccc;
        color:#333;
        font-size:12px;
        padding:0;
    }

    .event {
        text-align:right;

        .started {
            color: #666;
        }
    }

    .body {
        margin-top:0.5em;
    }

    .vs {
        padding-top:57px;
    }
}


.results {

    .body {
        position:relative;
    }

    .updated {
        color:#ccc;
        font-size:12px;
        text-align:right;
        padding: 0.2em 0.5em 0.2em 0.2em;
    }

    .player1, .player2 {
        display: inline-block;
        font-size: 18px;
        text-align: center;
        line-height: 1;
        width: 33%;
    }

    .vs {
        color: #333;
        font-size: 15px;
        position: absolute;
        width:50px;
        margin-left:-25px;
        left:50%;
        bottom:25%;
    }

    .score-box {
        font-size: 35px;
        padding: 0.5em 0;
    }

    .winning {
        color:#3a2d72;
    }

    .losing {
        color:#666;
    }
}

.events {
    .calendar {
        border: 1px solid #3a2d72;
        display: block;
        padding: 2px;
        margin: 0.2em 1em 0.2em 0.2em;
        float: left;
        text-align: center;
        min-width: 110px;
        box-shadow:0 0 3px rgba(0, 0, 0, 0.5);

        span {
            display:block;
            font-size:11px;
        }

        .number {
            font-size: 35px;
            margin: 0.2em;
        }

        .hour {
            background: #221946 url(/img/calendar.png) 50% 50% no-repeat;
            color: #fff;
            text-shadow:0 -1px 1px #000;
            font-weight:bold;
        }
    }

    .today {
        background: #e9e3fa;
        background: #221946 url(/img/calendar.png) 50% 50% no-repeat;
        box-shadow:0 0 10px #261b43;

        span {
        color:#fff;
        text-shadow:0 -1px 1px #000;
        }

        .hour {
            background:rgba(255,255,255,.3);
            font-color:#221946;
            text-shadow:0 1px 1px #221946;
        }
    }

    .name {
        padding-top: 1em;
    }

    .no-upcoming-events {
        font-size: 20px;
        color:#ccc;
        margin: auto;
        max-width:150px;
        text-align:center;
        margin-top:20%;

        i {
            font-size: 60px;
        }
    }
}

.about {
    .header {
        background:#fff;
        border: 1px solid #dedede;
        border-top:#ccc;
        padding:1em;
        margin-bottom: 2em;

        .lead {
            font-size:1.5em;
            line-height:1;
        }
    }

}
