<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.francoisfaubert.starcraftcalendarapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>StarCraft II Calendar App</name>
  <description>
        Up to the minute updates on premier StarCraft II events and results.
  </description>
  <author email="frank@francoisfaubert" href="http://francoisfaubert.com/">
      Francois Faubert
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
